<form action="/landmarks/edit" method="post">
  <input id="name" type="text" name="landmark[name]">
  <input id="year_completed" type="text" name="landmark[year_completed]">@landmark.year_completed.to_s</input>
  <input type="submit" name="" value="Edit Landmark">
</form>
